.cabinet {
	&__wrap {
		background: #031F31;
		margin-top: 20px;
	}
	&__head {
		padding: 30px;
		background: #031F31;
	}
	&__body {
		padding: 20px 30px;
		background: #041D2E;
		&_full {
			padding: 0;
		}
	}
	&__title {
		text-transform: uppercase;
		color: #fff;
		font-weight: 500;
		font-size: 16px;
		//padding-bottom: 12px;
	}
	&__desc {
		color: #818F98;
		padding-top: 12px;
		svg {
			//vertical-align: top;
			margin-right: 10px;
		}
	}
	&__list {
		padding-top: 20px;
		list-style-type: square;
		color: #818F98;
		font-size: 15px;
		margin-left: 20px;
	}
}
